*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: url(../img/fundo.jpg);
    text-align: center;
    height: 100vh;
    color: rgb(248, 248, 248);
    font-family: monospace;
}

.calculadora{
    position: absolute;
    background-color: rgb(131, 71, 243);
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 30, 30);
    border: none;
    color: whitesmoke;
}

.botao:hover{
    background-color: rgb(49, 49, 49);
}

#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}